    body {
        font-family: 'Segoe UI', Tahoma, sans-serif;
        background: linear-gradient(120deg, #f5f5f5, #fff);
        margin: 0;
        padding: 20px;
    }

    .container {
        max-width: 1000px;
        margin: auto;
    }

    h2 {
        text-align: center;
        color: #c40000;
        margin-bottom: 25px;
        font-weight: 700;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        background: #fff;
        border-radius: 12px;
        overflow: hidden;
       box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    thead {
        background: linear-gradient(90deg, #c40000, #ffcc00);
        color: white;
    }

    th, td {
        padding: 16px;
        text-align: left;
    }

    tbody tr {
        border-bottom: 1px solid #eee;
        transition: 0.3s;
    }

    tbody tr:hover {
        background: #fff8e1;
        transform: scale(1.01);
    }

    .nome {
        font-weight: 600;
        color: #c40000;
    }

    .telefone-box {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .telefone {
        color: #555;
        font-size: 14px;
        font-weight: bold;
    }

    .whatsapp {
        background: #25D366;
        color: white;
        padding: 6px 10px;
        border-radius: 6px;
        text-decoration: none;
        font-size: 12px;
        transition: 0.3s;
    }

    .whatsapp:hover {
        background: #1ebe5d;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
    }

    .tag {
        background: #ffcc00;
        color: #000;
        padding: 5px 10px;
        border-radius: 20px;
        font-size: 13px;
        font-weight: 500;
    }
    footer{
        color:#c40000;
        margin: 10px;
        text-align: center;
    }
